<video preload="auto">
<source src="<%=path%>?video.m3u8"/>
</video>
<div class="info">
	<h1><%=name%></h1>
	<table class="controls">
		<tr>
			<td width="1%">
				<i class="fa fa-play"></i>
				<i class="fa fa-pause"></i>
			</td>
			<td>
				<div class="progress">
					<div class="current">
					</div>
				</div>
			</td>
			<td class="currentTime" width="1%">
				00:00:00
			</td>
		</tr>
	</table>
</div>