html {
	font-family: "Roboto", "sans-serif";
	font-weight: 300;
	background: #1345a4 ;
}


body {
	margin: 0;
	padding: 0;
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	/*background: url("../images/bg1.png"), url("../images/bg2.png"), url("../images/bg3.png"), url("../images/bg4.png"), url("../images/bg5.png"),  url("../images/bg6.png");
	-webkit-animation-name: animatedCircles; 
    -webkit-animation-duration: 240s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;*/
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

/*@-webkit-keyframes animatedCircles {
    from { background-position: 0 0, 0 0, 0 0, 0 0, 0 0, 0 0; }
    to { background-position: 3840px 1080px, -1920px -3240px, 1920px 2160px, -5760px 1080px, 1920px 2160px, 1920px -2160px; }
}
*/
.loading { 
  cursor: wait;
  border-radius: 50px;
  margin: 5% auto;
  -webkit-animation: loading .5s infinite linear;
}



.spin-1{
  border: 5px solid #154daa;
  border-top: 5px solid rgba(0,0,0,0);
  border-left: 5px solid rgba(0,0,0,0);
  width: 30px;
  height: 30px; 
}

body.play {
	background: #000;
	overflow: hidden;
}

body.play .info {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	box-shadow: 0 0 8px #99afed;
	color: #fff;
	padding: 10px;
	background: rgba(0,0,0,0.7);
	z-index: 10000000;
}

body.play .info h1 {
	font-weight: 300;
	margin: 0;
	padding: 0;
}

body.play .info i {
	color: #fff;
	font-size: 24px;
}

body.play .info table {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	
}

body.play .info table td {
	padding: 10px;
	vertical-align: middle;
	color: #fff;
}

body.play .info .progress {
	width: 100%;
	display: block;
	height: 20px;
	background: rgba(255,255,255,0.5);
}

body.play .info .current {
	display: block;
	height: 20px;
	background: rgba(255,255,255,1);
}

.block {
	width: 250px;
	height: 300px;
	position: relative;
	box-shadow: 0 0 8px rgba(255,255,255,0.5);
	margin: 20px 0 0 20px;
	border: 1px solid #99afed; 
	float: left;
	text-align: center;
	color: #fff;
	background: rgba(255,255,255,0.2);
}

.block span {
	display: block;
	position: absolute;
	width: 230px;
	bottom: 0;
	padding: 10px;
	background: rgba(0,0,0,0.8);
	overflow: hidden;
	white-space:nowrap; 
	text-overflow: ellipsis;
}

.block i {
	font-size: 160px;
	padding: 60px 0 0 0;
	text-shadow: 0 0 8px  rgba(0,0,0,0.5);
}

.block:after {
	position: absolute;
	left: 0;
	right: 0;
	display: block;
	content: " ";
	top: 0;
	bottom: 0;
	box-shadow: inset 0 0 8px  rgba(0,0,0,0.5);
}